body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8bb8e6;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: cornsilk;
}

.btn-group {
    margin-top: 20px;
    z-index: 1;
    /* ボタンをテキストより前面に表示 */
}

.moving-text {
    position: absolute;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    z-index: 0;
    /* テキストをボタンより後ろに表示 */
}

/* 複数のアニメーションを定義 */
@keyframes moveText {
    0% {
        top: -10%;
        left: 100%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: 0%;
        opacity: 0;
    }
}

@keyframes moveText2 {
    0% {
        top: -10%;
        left: 30%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: -70%;
        opacity: 0;
    }
}

@keyframes moveText3 {
    0% {
        top: -10%;
        left: 50%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: -50%;
        opacity: 0;
    }
}

@keyframes moveText4 {
    0% {
        top: -10%;
        left: 80%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: -20%;
        opacity: 0;
    }
}

@keyframes moveText5 {
    0% {
        top: -10%;
        left: 120%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: 20%;
        opacity: 0;
    }
}

@keyframes moveText6 {
    0% {
        top: -10%;
        left: 140%;
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        left: 40%;
        opacity: 0;
    }
}