body {
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    font-size: 1em;
}

/* コントロールボタンの固定位置 */
#controls {
    position: fixed;
    top: 60px;
    /* 上からの距離を調整 */
    right: 20px;
    /* 左からの距離を調整 */
    z-index: 1000;
    /* 他の要素より前に表示 */
    background-color: rgba(255, 255, 255, 0.8);
    /* 背景を少し透過 */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 入力フィールドの固定位置 */
#inputs {
    position: fixed;
    top: 160px;
    /* 適切に調整 */
    right: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 結果出力エリアの固定位置 */
#result {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 結果出力ボタンの固定位置 */
#output-btn {
    position: fixed;
    bottom: 60px;
    /* 下からの距離 */
    right: 250px;
    z-index: 1000;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}