body {
    color: #000000;
    background-color: aqua;
}

#high {
    position: absolute;
    top: 20px;
    left: 400px;
    background-color: aliceblue;
}

#weight {
    position: absolute;
    top: 60px;
    left: 400px;
    background-color: aliceblue;
}