body {
    color: #000000;
    background-color: #e0f7fa;
    /* 少し落ち着いた青に変更 */
}

#high,
#weight,
#strt,
#strl {
    margin-left: 20px;
    background-color: aliceblue;
}

canvas {
    margin-top: 20px;
    display: block;
}